.git/
.gitignore
Dockerfile
README.md
Makefile
.ignore
.tool-versions
scripts/run_local.sh
# server
server/_build/
server/deps/
server/.gitignore
server/Makefile
server/README*
server/test/
server/priv/static/
# yarnballs
yarnballs/_build/
yarnballs/deps/
yarnballs/.gitignore
yarnballs/README*
yarnballs/test/
yarnballs/priv/static/
# Rustler
yarnballs/native/yarnballs/Cargo.lock
yarnballs/native/yarnballs/target
yarnballs/priv/native/*.so
# webclient
webclient
