/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
/tmp/

# Ignore assets that are produced by build tools.
/cmd/server/static/assets/

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log
/assets/node_modules/
/assets/elm-stuff

*.kate-swp

server

.ignore
.tool-versions
.envrc

/.secrets/

.codex
